<!-- templates/index.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>Pergamum Renewal Extravaganza</title>
    <script type="text/javascript" src="static/js/application.js"></script>
  </head>
  <body>
    <form id="input-form" action="/dale" method="post">
      <input name="perg-email" type="text" placeholder="e-mail">
      <input name="perg-cpf" type="text" placeholder="cpf">
      <input name="perg-passw" type="text" placeholder="senha do pergamum">
      <button type="submit">ok</button>
    </form>

  </body>
</html>
