<!-- templates/index.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>Pergamum Renewal Extravaganza</title>
  </head>
  <body>
    <marquee><h1><i><strong>Pergamum Renewal Extravaganza</strong></i></h1></marquee>
    Este site abriga o <i><strong><small>Pergamum Renewal Extravaganza</small></strong></i>.
    <br>
    <br>
    <i><strong><small>Pergamum Renewal Extravaganza</small></strong></i> é um assistente de pergamum da UFPE. Gosta de renovar seus livros por você e de te enviar e-mails a respeito dos seus livros alugados.
    <br>
    Não foi extensivamente testado, falhas podem acontecer e o <i><strong><small>Pergamum Renewal Extravaganza</small></strong></i> não se importa, tampouco se responsabiliza!
    <br>
    <br>
    Informe um e-mail para receber o feed do <i><strong><small>Pergamum Renewal Extravaganza</small></strong></i>. Informe também seu cpf e senha usados para login no pergamum.
    <br><br>
    <form id="input-form" action="/dale" method="post">
      <input name="perg-email" type="text" placeholder="e-mail">
      <input name="perg-cpf" type="text" placeholder="cpf">
      <input name="perg-passw" type="text" placeholder="senha do pergamum">
      <button type="submit">ao clicar neste botão você aceita total responsabilidade pelo uso deste serviço</button>
    </form>
    <br>
    <br>
    Melhorias:
    <ul>
      <li>Captcha.</li>
      <li>Confirmação de e-mail.</li>
      <li>Página para usuário checar próximas datas que o serviço executará.</li>
      <li>Página para usuário mudar senha, e-mail, ou deletar conta.</li>
    </ul>
    Discussões:
    <ul>
      <li>Serviço deve executar periodicamente (busca eterna por livros) ou o usuário precisa acordar o serviço.</li>
    </ul>
  </body>
</html>
